<html>
  <head>
    <title>RetraDov Development</title>
    <link
      rel="stylesheet"
      href="https://app.zealcord.xyz/style/tempstyle.css"
    />
    <link
      rel="icon"
      href="https://cdn.discordapp.com/icons/647582209699741709/9e17677bf44ea48bd176483dcdfce7a7.jpg"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://cdn.discordapp.com/icons/647582209699741709/9e17677bf44ea48bd176483dcdfce7a7.jpg"
    />

    <style>
      h1 {
        font-family: monospace;
        animation: animasi 1s linear infinite;
      }

      @keyframes animasi {
        0% {
          color: #fafafa;
        }
        25% {
          color: red;
        }

        50% {
          color: blue;
        }

        75% {
          color: orange;
        }
      }

      p {
        font-family: sans-serif;
      }
    </style>
    <link
      id="avast_os_ext_custom_font"
      href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css"
      rel="stylesheet"
      type="text/css"
    />

    <script>
      function change() {
        const text = [
            "Welcome to our <b>retradov.js</b> page, where all assets of this community apply",
            "Developer Website: ApaAjaBoleh#9204 • Fabio0107ID#5374"
          ],
          random = Math.floor(Math.random() * a.length);

        document.getElementById("maintenancetext").innerHTML = text[random];
      }
      setInterval(change, 1000);
    </script>
    
    <!-- AMP Analytics --><script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

  </head>

  <body>
    <!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PD3WGTV&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

    <h1 align="center" id="maintenancetext">
      Welcome to our <b>retradov.js</b> page, where all
      assets of this community apply
    </h1>
    <br />
    <p id="something">
      • Go there if you want to see the JSON database:
      <a href="/api/bots">Click Here!</a> <br />
      • Go back to the main page:
      <a href="/">Click Here!</a>
    </p>
    <p align="right">
   <iframe
       src="https://discordapp.com/api/webhooks/650356527500230666/ocCt2OKow18dLQFOrAss_ydaj3jZBVDNgJvQKK90Bd4HL0qLWRglPdPNBY0hXMLXCeTW"
        width="350"
        height="500"
        allowtransparency="true"
        frameborder="0"
      ></iframe>
    </p>
    <script type="text/javascript" src="/webpack/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://app.zealcord.xyz/webpack/discord.stable.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://app.zealcord.xyz/webpack/superagent.js"
    ></script>
    <script
      type="text/javascript"
      src="https://app.zealcord.xyz/webpack/lodash.js"
    ></script>
  </body>
</html>
