
<html lang="en" class="full-height">
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153611016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153611016-1');
</script>
    
    
    <title>ZefianAlfian</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="google-site-verification" content="SlceEf6ZO7k8e9Wx0XZ6unD1THfwdNXlwlVhRAwH-mk" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Clay Attacker Bug" />
    <meta name="author" content="Clay Attacker Bug" />
    <meta content="#54FCFF" name="theme-color" />
    <meta content="#54FCFF" name="msapplication-navbutton-color" />
    <meta property="og:url" content="https://clayattackerofc.glitch.me" />
    <meta
      property="og:image"
      content="https://i.ibb.co/0t9Ns1h/IMG-20200402-WA0549.jpg"
    />
    <meta
      property="og:description"
      content="Clay Attacker Bug Official Website."
    />
    <meta property="og:footer" content="• clayattackerofc.glitch.me" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      href="https://i.ibb.co/0t9Ns1h/IMG-20200402-WA0549.jpg"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.ibb.co/0t9Ns1h/IMG-20200402-WA0549.jpg"
    />

    <link rel="stylesheet" href="/farmcrafts.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css"
      rel="stylesheet"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"
    ></script>
    <link
      id="avast_os_ext_custom_font"
      href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation {
        from {
          opacity: 0.99;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes chartjs-render-animation {
        from {
          opacity: 0.99;
        }
        to {
          opacity: 1;
        }
      }
      .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
      }
    </style>
    <!-- AMP Analytics <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<!-- AMP Analytics --><script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    
    
  </head>

  <body>
    <!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PD3WGTV&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

    
    
    
    
    <!-- Google Tag Manager 
<amp-analytics config="https://www.googletagmanager.com/amp.json?id=GTM-PD3WGTV&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>

    -->
    
    
    <header>
      <nav
        class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
      >
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              src="https://i.ibb.co/0t9Ns1h/IMG-20200402-WA0549.jpg"
              alt=""
              class="rounded"
              width="32px"
            />
            <strong>Clay Attacker Bug Ofc</strong></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a
                  target="_blank"
                  href="/myAPI"
                  class="nav-link waves-effect waves-light"
                  ><i class="fab fa-uber"></i> API</a
                >
              </li>
              <li class="nav-item">
                <a href="/staff" class="nav-link waves-effect waves-light"
                  ><i class="fas fa-users"></i> Staff Teams</a
                >
              </li>
              <li class="nav-item">
                <a href="/member" class="nav-link waves-effect waves-light"
                   ><i class="fas fa-users"></i> Member Teams</a>
                  </li>
          <!--    <li class="nav-item">
                <a href="/bots" class="nav-link waves-effect waves-light"
                  ><i class="fas fa-robot"></i> Bot List (Beta)</a
                >
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      <div class="view intro-2" style="">
        <div class="full-bg-img">
          <div class="mask flex-center">
            <div class="container text-center white-text wow fadeInUp">
              <img
                src="https://i.ibb.co/0t9Ns1h/IMG-20200402-WA0549.jpg"
                width="128px"
                alt=""
                class="rounded mx-auto d-block"
              />
              <br />
              <h1><b>Clay Attacker Bug</b></h1>
              <p>
                Developers &nbsp;•&nbsp; Intelligent &nbsp;•&nbsp; Community
                &nbsp;•&nbsp; Professional
              </p>
              <br />
              <a
                class="btn btn-outline-blue waves-effect"
                href="/wa"
                target="_blank"
                >Join Our Grup WhatsappClayAttacker now!</a
              >
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer font-small elegant-color-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">
                <a class="" target="_blank" href="/404">
                  <i class="fab fa-discord fa-lg white-text mr-md-5 mr-3 fa-2x">
                  </i>
                </a>
                <a
                  class=""
                  target="_blank"
                  href="https://www.youtube.com/channel/UC83gyyw8sO7jKuwh13D1zdw"
                >
                  <i class="fab fa-youtube fa-lg white-text mr-md-5 mr-3 fa-2x">
                  </i>
                </a>
                <a
                  class=""
                  target="_blank"
                  href="https://www.instagram.com/zefianalfian"
                >
                  <i
                    class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"
                  >
                  </i>
                </a>
                <a
                  class=""
                  target="_blank"
                  href="/404"
                >
                  <i class="fab fa-github fa-lg white-text fa-2x"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-copyright text-center py-3">
          © 2019 <a href="/404"> ClayAttackerBug | Design By ZefianAlfian</a>
        </div>
      </footer>
    </header>
    <div class="hiddendiv common"></div>
  </body>
</html>
